<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editable Sudoku</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='puzzle_css.css') }}">
</head>

<body>

    <h2>Confirm Sudoku</h2>

    <div class="content">

        <div class="image-container">
            <img src={{file_url}} class="uploaded-image">
        </div>

        <div class="container" id="container"></div>

        
    </div>

    <div class="buttonContainer">
        <button id="solveButton">Solve</button>
        <button id="resetButton">Reset</button>
    </div>

    <script src="{{ url_for('static', filename='puzzle_js.js') }}"></script>
    <script>var solution = '{{solution | tojson}}'</script>

</body>

</html>